:root {
    --rojo: #AC0505;
    --gris-fondo: #ECF0F1;
    --gris-input: #E5E5E5;
    --gris-card: #D9D9D9;
}

#body {
    font-family: "Poppins", sans-serif;
    background: var(--gris-fondo);
    padding: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main.horizontal {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    gap: 3rem;
}

#info {
    width: 50%;
}

#logo {
    width: 450px;
    margin-bottom: 12px;
}

#titulo {
    font-size: 42px;
    color: #333;
    font-weight: 600;
}

#titulo span {
    color: var(--rojo);
    font-weight: 700;
}

#descripcion {
    max-width: 900px;
    margin-top: 1rem;
    text-align: justify;
    line-height: 1.7;
}

#formulario {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background: var(--gris-card);
    padding: 3rem;
    border-radius: 25px;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sombra {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.20);
}

/* Contenedor del formulario de login*/
#form-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#correo,
#clave {
    background: var(--gris-input);
    border: none;
    padding: 1rem;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;

}

.btn-rojo {
    background: var(--rojo);
    color: white;
    padding: 1rem;
    font-weight: bold;

    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn-rojo:hover {
    background: #920303;
    transform: translateY(-2px);
}

.btn-borde {
    padding: 1rem;
    border-radius: 15px;
    font-weight: bold;

    border: 2px solid var(--rojo);
    background: var(--gris-card);
    color: var(--rojo);
    font-size: 18px;
    transition: 0.2s ease;
}

.btn-borde:hover {
    background: var(--rojo);
    color: white;
    transform: translateY(-2px);
}

#olvide {
    color: var(--rojo);
    text-align: center;
    font-size: 16px;
    margin-top: -15px;
}

#registro {
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#footer {
    margin-top: auto;
    padding-top: 3rem;
    text-align: center;
    font-size: 15px;
}

#social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 20px;
}

#contacto {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-size: 15px;
}

/* === RESPONSIVE COMPLETO === */
@media (max-width: 1200px) {
    #main.horizontal {
        gap: 2.5rem;
    }

    #titulo {
        font-size: 36px;
    }
}

@media (max-width: 992px) {
    #main.horizontal {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        gap: 3rem;
    }

    #info,
    #formulario {
        width: 95%;
    }

    #logo {
        margin: auto;
    }

    #descripcion {
        max-width: 90%;
        margin: auto;
        text-align: center;
    }

    #card {
        margin: auto;
    }
}

@media (max-width: 600px) {
    #main.horizontal {
        margin-top: 1rem;
        gap: 2rem;
    }

    #titulo {
        font-size: 30px;
    }

    #logo {
        width: 250px;
    }

    #card {
        width: 100%;
        padding: 1.5rem;
    }
}