:root{
    --rojo: #AC0505;
    --gris-fondo: #ecf0f1;
    --gris-input: #e5e5e5; 
    --sombra: rgba(0, 0, 0, 0.1); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
    font-family: "Poppins", sans-serif;
    color: #333;
}

/* ICONO HOME */

#icono-home {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 30;
}

#icono-home img {
    width: 100px
    height: 100px
    transition: 0.2s ease;
}

#icono-home img:hover {
    transform: scale(1.05);
}

/* LOGO MITURNO  */

#logo-registro {
    display: block;
    width: 300px;
    height: auto;
    margin: 2rem auto 2rem auto;
}

@media (max-width: 600px) {
    #icono-home img {
        width: 35px;
    }
    #logo-registro {
        width: 180px;
        margin-top: 5rem;
    }
}

/* CONTENEDOR PRINCIPAL*/

#main-registro {
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

/* FORMULARIO*/

#form-registro {
    width: 100%;
    margin-top: 1.5rem;
}

/* INPUTS */
.sombra-input {
    width: 100%;
    background: var(--gris-input);
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 15px;
    outline: none;
    margin-bottom: 18px;
    box-shadow: 0 8px 5px var(--sombra);
    transition: 0.25s ease;
}

.sombra-input::placeholder {
    color: #989898;
    font-weight: 600;
}

#direccion_detectada {
    margin-bottom: 18px !important;
    border: none !important;
    background: var(--gris-input) !important;
    border-radius: 15px !important;
    box-shadow: 0 8px 5px var(--sombra) !important;
    padding: 15px !important;
}

#direccion_detectada span {
    color: var(--rojo);
    font-weight: 700;
}

/* FORMULARIO */

.form-row-2col {
    display: flex;
    gap: 1.3rem;
}

.form-row-2col input {
    width: 50%;
}

/* Mobile → 1 columna */
@media (max-width: 600px) {
    .form-row-2col {
        flex-direction: column;
    }
    .form-row-2col input {
        width: 100%;
    }
}

/* DIRECCIÓN DETECTADA */
#direccion_detectada {
    padding: 13px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 2px solid #ddd;
    background: white;
    font-size: 15px;
    transition: 0.25s;
}

#direccion_detectada span#direccion-auto {
    font-weight: 500;
}

/* MAPA  */
#map-container {
    background: var(--gris-input);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 5px var(--sombra);
    margin-top: 20px;
    margin-bottom: 30px;
}

.map-title {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 600;
}

#map {
    width: 100%;
    height: 320px;
    border-radius: 12px;
    overflow: hidden;
    background: #d9d9d9;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


/* Coordenadas debajo del mapa */
#coords-display {
    margin-top: 5px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;

}

#coords-display span {
    font-weight: 700;
    color: var(--rojo);
}
#coords-display span {
    font-weight: 700;
    color: var(--rojo);
}
/* BOTONES*/

.btn-rojo {
    width: 100%;
    background: #AC0505;
    color: white;
    padding: 15px;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn-rojo:hover {
    background: #7D0000;
}

.btn-borde {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 2px solid #AC0505;
    background: transparent;
    color: #AC0505;
    font-size: 17px;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn-borde:hover {
    background: #AC0505;
    color: white;
}

/* YA TIENES CUENTA*/

#ya-tienes-cuenta {
    text-align: center;
    margin-top: 1.2rem;
    font-size: 15px;
}

#ya-tienes-cuenta a {
    color: #AC0505;
    font-weight: bold;
}


/* Footer */
#footer {
    width: 100%;
    text-align: center;  
    padding: 25px 0;
    margin-top: 3rem;
    border-top: none; 
}

#footer * {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* Contenedor de iconos */
#social {
    display: flex;
    justify-content: center;   
    gap: 20px;
    margin-bottom: 12px;
}

/* Íconos */
#social a {
    font-size: 22px;
}

/* Texto de contacto */
#contacto {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2;
    gap: 4px;
}

/* Derechos reservados */
#copyright {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
    color: #555;
}