* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f2f4f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ---------------------- ICONO HOME---------------------- */
.icono-home {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icono-home img {
    width: 80px;
    height: 80px;
    transition: transform 0.2s ease;
}

.icono-home img:hover {
    transform: scale(1.1);
}

/* ---------------------- LOGO---------------------- */
header figure {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 320px;        
    max-width: 70%;
    margin-top: 80px;
    height: auto;
}

/* ---------------------- MAIN  ---------------------- */
main {
    flex: 1;             /* Permite que el footer siempre quede abajo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------- FORMULARIO --------------------------- */

.form-login {
    width: 100%;
    height: 500px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: scale(1.30); /* 10% más grande */
    transform-origin: top center; /* que crezca hacia abajo */
    
}

/* --------------------------- INPUTS --------------------------- */
.input-login {
    width: 100%;
    padding: 12px 15px;
  background: #E5E5E5; 
   border: none;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #000;

    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.input-login::placeholder {
    color: #989898;
    font-weight: 500;
}

/* --------------------------- BOTÓN INICIAR SESIÓN --------------------------- */
.btn-iniciar {
    width: 100%;
    padding: 12px;
    background: #AC0505;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn-iniciar:hover {
    background: #8a0404;
}

/* --------------------------- LINK OLVIDASTE --------------------------- */
.link-olvido {
    text-align: center;
    color: #AC0505;
    font-size: 14px;
    font-weight: 500;
}

/* --------------------------- BOTÓN ENTRAR CON --------------------------- */
.btn-entrar-con {
    width: 60%;
    padding: 8px;
    background: transparent;
    border: 2px solid #C3C3C3;
    border-radius: 12px;
    color: #AC0505;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;             /* centra el botón */
    
}

.btn-entrar-con:hover {
    background: #f0f0f0;
}

.btn-entrar-con img {
    width: 20px;
    height: 30px;
}

/* --------------------------- TEXTO “NO TIENES CUENTA” --------------------------- */
.texto-registro {
    text-align: center;
    font-size: 14px;
}

.link-registrate {
    font-weight: 500;
    color: #AC0505;
    text-decoration: none;
}

/* --------------------------- BOTÓN CREAR CUENTA --------------------------- */
.btn-crear-cuenta {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid #AC0505;
    border-radius: 12px;
    color: #AC0505;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

.btn-crear-cuenta:hover {
    background: #f0f0f0;
}



/* ---------------------- FOOTER ---------------------- */
footer {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#social a {
    margin: 0 5px;
    font-size: 15px;
    color: #333;
    transition: 0.2s ease;
}

#social a:hover {
    color: #b71c1c;
}

#copyright {
    font-size: 12px;
    color: #444;
}

#contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: 13px;
    color: #444;
}

#contacto span i {
    margin-right: 5px;
}

/* ---------------------- RESPONSIVE TABLET ---------------------- */
@media (max-width: 768px) {

    .icono-home img {
        width: 40px;
        height: 40px;
    }

    .logo {
        width: 300px;
        margin-top: 70px;
    }

    footer {
        padding: 10px;
        gap: 6px;
    }

    #social a {
        font-size: 15px;
    }

    #copyright {
        font-size: 11px;
    }

    #contacto {
        font-size: 12px;
        gap: 5px;
    }
}



/* ---------------------- RESPONSIVE MOBILE ---------------------- */
@media (max-width: 480px) {

    .icono-home img {
        width: 40px;
        height: 40px;
    }

    .logo {
        width: 250px;
        margin-top: 60px;
    }

    .form-login {
        max-width: 300px;
        gap: 12px;
        transform: scale(1.2); 

    }

    footer {
        padding: 8px;
        gap: 4px;
    }

    #social a {
        font-size: 13px;
        margin: 0 4px;
    }

    #copyright {
        font-size: 10px;
    }

    #contacto {
        font-size: 11px;
        gap: 4px;
    }
}