@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ecf0f1;
    color: #333;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


.perfil-container h2{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
    color: #333;
    margin: 20px 0 25px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perfil-container h2 {
    text-align: center;
    width: 100%;
    font-size: 26px;
    margin: 20px 0 25px 0;
    font-weight: 600;
}

/* NAV */
.main-nav {
    width: 100%;
    background-color: #AC0505;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Botón del Menú Desplegable  */
.menu-toggle-btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    padding: 5px 10px;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}

/* Barra lateral */
.user-dropdown-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    /* Estilos Visuales */
    background-color: #7D0000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
    padding-top: 60px;
    text-align: left;
}

.user-dropdown-content.show-user-menu {
    transform: translateX(0);
}

/* Estilos de los enlaces */
.user-dropdown-content a {
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    background-color: transparent;
    font-weight: 500;
    color: white;
}

.user-dropdown-content a:hover {
    background-color: #AC0505;
    color: white;
}



/* Loguito del nav*/
.nav-logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-logo-container img {
    height: 60px;
    width: auto;
}



main {
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
}



.home-title {
    margin: 20px auto 10px auto;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}



/* Perfil */

.dropdown-menu-container {
    position: relative;
    display: inline-block;
    background: #7D0000;
    border-radius: 5px;
    padding: 5px;
}

.profile-dropdown-btn {
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;

}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #941616;
    background-color: #AC0505;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 101;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #7D0000;
}

.dropdown-content .logout-link {
    font-weight: 600;
}

.show {
    display: block;
}

.input-formulario {
    width: 100%;
    padding: 15px 20px;
    background: #E5E5E5;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.input-formulario::placeholder {
    color: #989898;
    font-weight: 500;
}

#mapa {
    width: 100%;
    height: 350px;
    margin-top: 15px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}

#texto-coordenadas {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    display: none;
}

.grid-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-bottom: 20px;
}
/* === ALINEAR INPUT + BOTÓN DE EDITAR === */
.campo-contenedor {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/* tamaño uniforme del botón */
.btn-editar {
    background: #AC0505;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-editar i {
    font-size: 16px;
}

@media (max-width: 768px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
}