/* CONTACTANOS */
body {
    background: #eef3f5;
}

/* CONTENEDOR */
.contacto-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 40px 20px;
}

.contacto-container {
    background: #e1dfdf;
    padding: 35px 28px;
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.18);
    text-align: center;
}

/* TÍTULO */
.contacto-titulo {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* FORMULARIO */
.contacto-form input,
.contacto-form textarea {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    margin-bottom: 15px;
    background: #ffffff;
    font-size: 23px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.18);
}

.contacto-form input::placeholder,
.contacto-form textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #6c6c6c;
    opacity: 1;
}

.input-chico {
    height: 34px;
    padding: 10px;
    width: 100%;
    margin: 0 auto 15px auto;
}

.input-grande {
    width: 100%;         
    height: 200px;      
    padding: 15px;
    border-radius: 12px;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #000;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.18);
    border: none;
    resize: none;
}

/* BOTÓN */
.btn-enviar {
    width: 100%;
    background: #b30000;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-enviar:hover {
    background: #8b0000;
}

.contacto-form .campo {
    width: 45%;   
    margin: 0 auto 16px auto;
}
